.item-container {
    background-image: url(../../images/banner/banner-1.png);
    height: 550px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 20px;
}

.feaured-title{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 6px;
}

.product-banner-title{
    margin-top: 80px;
}
.product-banner-title h2 {
    font-size: 55px;
}

.highlight {
    font-size: 55px;
    font-weight: bold;
    color: #ff3030;
}

.banner-btn{
    padding: 14px 22px;
    border: unset;
    border-radius: 10px;
    color: #fff;
    z-index: 1;
    background: #ff3030;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.banner-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #fe5306;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.banner-btn:hover {
    color: #fff;
}

.banner-btn:hover::before {
    width: 100%;
}

/* secound item start here  */
.item-2-container{
    background-image: url(../../images/banner/banner-2.png);
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
    background-position: top center;

}
.product-banner2-title{
    margin-top: 100px;
}
.product-banner2-title h2{
    font-size: 52px;
}
/* media queries  */

/* medium device  */
@media screen and (max-width:1024px) {
    .product-banner-title{
        margin-top: 120px;
    }
    .product-banner-title h2 {
        font-size: 38px;
    }
    .product-banner-title p{
        font-size: 16px;
    }
    .highlight{
        font-size: 39px;
    }
    .banner-btn{
        padding: 10px 20px;
    }

    /* secound item start here  */
    .product-banner2-title {
        margin-top: 135px;
    }
    .product-banner2-title h2{
        font-size: 38px;
    }
    
}
/* medium device  */
@media screen and (max-width:567px) {
    .product-banner-title h2 {
        font-size: 35px;
    }
    .highlight{
        font-size: 35px;
    }
    .banner-btn{
        padding: 8px 18px;
    }
    /* secound item start here  */

    
}