.header-section {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
    color: #ff3030;
    font-weight: bold;
}

a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-right: 5px;
    transition: .3s ease-in-out;
}

.logout-btn {
    color: white;
    background-color: #82cd00;
    border: 1px solid #82cd00;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in;
}

.logout-btn:hover {
    background-color: #fff;
    color: #82cd00;
}