.singleWrapper {
    margin: 50px 0px;
}

.singleProduct {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.restored {
    border-right: 2px solid #82cd00;
    height: 900px;
}

.singleProduct img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.singleProduct-frame {
    overflow: hidden;
}

.product-info {
    padding: 20px 13px;
}

.quantity {
    font-size: 20px;
}

.id-style {
    color: gray;
}

.product-info p {
    color: gray;
}

.singleP-Btn button {
    width: 100%;
    color: #fff;
    padding: 16px 15px;
    transition: .3s ease-in;
    border: 1px solid hsl(261deg 80% 48%);
    background-color: hsl(261deg 80% 48%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.singleP-Btn button:hover {
    background-color: #fff;
    color: hsl(261deg 80% 48%);
}

.store-item-box {
    background-image: url(../../images/shape-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    width: 100%;
    height: 500px;
    padding: 20px;
}

.store-item-box h3 {
    color: #06c8d9;
}

.store-item-box input {
    width: 80%;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    color: gray;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 1);
    margin-bottom: 20px;

}

.store-item-box button {
    padding: 12px 30px;
    border-radius: 50px;
    border: 0;
    color: #fff;
    background-color: hsl(261deg 80% 48%);
    box-shadow: 1px 2px 4px lightgray;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.store-item-box button:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.store-item-box button:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


/* media quiry  */
@media screen and (max-width:1024px) {
    .restored {
        border-right: none;
        border-bottom: 2px solid #82cd00;
        height: 40px;
    }
}